/* CALL TO ACTION STYLE 1 */
.cta-s1 {
  position: relative;
  z-index: 1;
  padding: 145px 0;
  text-align: center; }
  .cta-s1 .cta-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; }
    .cta-s1 .cta-bg img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .cta-s1 .cta-body {
    color: #fff;
    font-weight: 300; }
    .cta-s1 .cta-body *:last-child {
      margin-bottom: 0; }
    .cta-s1 .cta-body h3 {
      max-width: 655px;
      margin-left: auto;
      margin-right: auto; }
  .cta-s1 .cta-phone {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    color: #fff; }
    .cta-s1 .cta-phone .icn-phone {
      vertical-align: inherit; }
      .cta-s1 .cta-phone .icn-phone:before {
        transform: scale(1.8); }
    .cta-s1 .cta-phone:hover {
      color: #ef0000; }
  @media (max-width: 639px) {
    .cta-s1 {
      padding: 100px 0; } }

/* CALL TO ACTION STYLE 2 */
.cta-s2 {
  position: relative;
  z-index: 1;
  padding: 145px 0;
  text-align: center; }
  .cta-s2 .cta-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; }
    .cta-s2 .cta-bg img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .cta-s2 .cta-body {
    color: #fff;
    font-weight: 300; }
    .cta-s2 .cta-body *:last-child {
      margin-bottom: 0; }
    .cta-s2 .cta-body h3 {
      max-width: 655px;
      margin-left: auto;
      margin-right: auto; }
  .cta-s2 .cta-phone {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    color: #fff; }
    .cta-s2 .cta-phone .icn-phone {
      vertical-align: inherit; }
      .cta-s2 .cta-phone .icn-phone:before {
        transform: scale(1.8); }
    .cta-s2 .cta-phone:hover {
      color: #ef0000; }
  @media (max-width: 639px) {
    .cta-s2 {
      padding: 100px 0; } }

/* CALL TO ACTION STYLE 3 */
.cta-s3 {
  position: relative;
  z-index: 1; }
  .cta-s3 .cta-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; }
    .cta-s3 .cta-bg img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .cta-s3 .cta-body {
    color: #fff;
    font-weight: 300;
    padding: 115px 0; }
    .cta-s3 .cta-body *:last-child {
      margin-bottom: 0; }
  .cta-s3 .cta-form {
    max-width: 490px;
    margin: 0 auto -45px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff; }
  @media (max-width: 639px) {
    .cta-s3 {
      padding: 100px 0; } }

/* CALL TO ACTION STYLE 4 */
.cta-s4 {
  position: relative;
  z-index: 1;
  background: #051418; }
  .cta-s4 .cta-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden; }
    .cta-s4 .cta-bg img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .cta-s4 .cta-body {
    color: #fff;
    font-weight: 300;
    padding: 115px 0; }
    .cta-s4 .cta-body *:last-child {
      margin-bottom: 0; }
  .cta-s4 .cta-form {
    max-width: 490px;
    margin: 0 auto -45px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff; }
  @media (max-width: 639px) {
    .cta-s4 {
      padding: 100px 0; } }

/* CALL TO ACTION STYLE 5 */
.cta-s5 {
  position: relative;
  z-index: 1;
  background: #051418;
  text-align: center; }
  .cta-s5 .cta-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    overflow: hidden; }
    .cta-s5 .cta-bg:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 90%;
      background-image: linear-gradient(to bottom, rgba(5, 20, 24, 0), #051418); }
    .cta-s5 .cta-bg img {
      width: 100%;
      height: auto; }
  .cta-s5 .cta-body {
    color: #fff;
    font-weight: 300;
    padding: 115px 0; }
    .cta-s5 .cta-body *:last-child {
      margin-bottom: 0; }
  .cta-s5 .cta-form {
    max-width: 490px;
    margin: 0 auto 30px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff; }
  @media (max-width: 639px) {
    .cta-s5 {
      padding: 100px 0; } }
